source/tolerant-test-models/src/main/resources/xs/complex-type-choice.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tr="http://k5.eu/tr/model"
        targetNamespace="http://k5.eu/tr/model">


<!--    <xs:element name="person">
        <xs:complexType>
            <xs:choice>
                <xs:element name="employee" type="employee"/>
                <xs:element name="member" type="member"/>
            </xs:choice>
        </xs:complexType>
    </xs:element> -->
</schema>