source/tolerant-test-models/src/main/resources/xs/complex-type-simplecontent.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tr="http://k5.eu/tr/model"
        targetNamespace="http://k5.eu/tr/model">


    <xs:complexType name="shoesizeSimpleContent">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="country" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="Shoe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="size" type="tr:shoesizeSimpleContent"/>
            </xs:sequence>
        </xs:complexType>

    </xs:element>
</schema>