source/tolerant-test-models/src/main/resources/xs/simple-type-list.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://k5.eu/tr/model">


    <xs:element name="ListType">
        <xs:complexType>

            <xs:sequence>
                <xs:element name="list" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="nillableList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>

        </xs:complexType>
    </xs:element>
</schema>