source/tolerant-test-models/src/main/resources/xs/strict/strict-minimal.xsd

<xs:schema xmlns="http://k5.eu/tr/strict"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://k5.eu/tr/strict">


    <xs:element name="StrictRoot">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hello" type="xs:string"/>

            </xs:sequence>
            <xs:attribute name="status" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>